
<form class="ui large form">
    <div class="ui stacked segment">
        <div class="field">
            <div class="ui left icon input">
                <i class="search icon"></i>
                <input type="search" placeholder="10111222-5" aria-label="Search" name="run">
            </div>
        </div>
        <div class="field">
            <button class="ui fluid large teal submit button" type="submit">Search</button>
        </div>
    <div class="ui pointing teal basic label">
        Porfavor ingrese su run con guión y sin punto.
      </div>
    </div>
</form>
