<div class="ui middle aligned center aligned grid h-100 bg-one">
  <div class="five wide column">
  <h2 class="ui teal header">
    <div class="content">Login</div>
  </h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class:  "ui large form"}) do |f| %>
    <div class="ui stacked segment">
      <div class="field">
        <div class="ui left icon input">
          <i class="user icon"></i>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email address" %>
        </div>
      </div>
      <div class="field">
        <div class="ui left icon input">
          <i class="lock icon"></i>
           <%= f.password_field :password, autocomplete: "current-password" , placeholder:"Password"%>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "Log in" , class:"ui fluid large teal submit button" %>
      </div>
    </div>
  <% end %>
  </div>
</div>
