<%= render 'nav/nav' %>
<div class="ui container-fluid px-5">

    <div class="ui very padded segment mt-2 ">
        <div class="column">
            <h2 class="ui teal header">EDITANDO ESTUDIANTE</h2>
        </div>    
        <div class="ui eight column mt-2">
        <%= render 'form', student: @student %>
        <div class="ui two column centered grid">
            <div class="extra content column mt-2">
                <div class="ui two buttons">
                    <%= link_to(students_path,class:"ui inverted green button") do%>
                        <i class="chevron left black icon"></i>
                    <% end %>
                    <%= link_to( @student ,class:"ui inverted blue button") do%>
                        <i class="eye black icon"></i>
                    <% end %>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>